.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

HYPE_Processing-staging/
libraries/
modes/
processing.sublime-project
processing.sublime-workspace
~other-peoples/

*.gif
*.png
*.mp4
*.class
*.java
*.log*

*/build-tmp/*
*/build-tmp/build.class

*build-tmp/
*/build-tmp

sketches/*/build/build-tmp/build.class
sketches/*/build/build-tmp/source/build.java

sketches/rope/build/build-tmp/build.class
sketches/rope/build/build-tmp/source/build.java

sketches/Creative Coding Sketches/